<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>fishing_qiqi_boxeffect04.png</key>
   <dict>
    <key>frame</key>
    <string>{{54,277},{102,51}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{102,51}}</string>
    <key>sourceSize</key>
    <string>{102,51}</string>
   </dict>
   <key>fishing_qiqi_boxeffect03.png</key>
   <dict>
    <key>frame</key>
    <string>{{270,287},{99,53}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{99,53}}</string>
    <key>sourceSize</key>
    <string>{99,53}</string>
   </dict>
   <key>fishing_qiqi_boxeffect02.png</key>
   <dict>
    <key>frame</key>
    <string>{{371,290},{99,51}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{99,51}}</string>
    <key>sourceSize</key>
    <string>{99,51}</string>
   </dict>
   <key>fishing_qiqi_boxeffect01.png</key>
   <dict>
    <key>frame</key>
    <string>{{159,259},{109,50}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{109,50}}</string>
    <key>sourceSize</key>
    <string>{109,50}</string>
   </dict>
   <key>fishing_qiqi_around07.png</key>
   <dict>
    <key>frame</key>
    <string>{{895,112},{84,83}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{84,83}}</string>
    <key>sourceSize</key>
    <string>{84,83}</string>
   </dict>
   <key>fishing_qiqi_around08.png</key>
   <dict>
    <key>frame</key>
    <string>{{1002,83},{18,19}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{18,19}}</string>
    <key>sourceSize</key>
    <string>{18,19}</string>
   </dict>
   <key>fishing_qiqi_around06.png</key>
   <dict>
    <key>frame</key>
    <string>{{215,311},{41,31}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{41,31}}</string>
    <key>sourceSize</key>
    <string>{41,31}</string>
   </dict>
   <key>fishing_qiqi_around05.png</key>
   <dict>
    <key>frame</key>
    <string>{{705,111},{90,106}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{90,106}}</string>
    <key>sourceSize</key>
    <string>{90,106}</string>
   </dict>
   <key>fishing_qiqi_around04.png</key>
   <dict>
    <key>frame</key>
    <string>{{186,0},{96,110}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{96,110}}</string>
    <key>sourceSize</key>
    <string>{96,110}</string>
   </dict>
   <key>fishing_qiqi_around03.png</key>
   <dict>
    <key>frame</key>
    <string>{{186,112},{87,109}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{87,109}}</string>
    <key>sourceSize</key>
    <string>{87,109}</string>
   </dict>
   <key>fishing_qiqi_around02.png</key>
   <dict>
    <key>frame</key>
    <string>{{413,112},{84,108}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{84,108}}</string>
    <key>sourceSize</key>
    <string>{84,108}</string>
   </dict>
   <key>fishing_qiqi_around01.png</key>
   <dict>
    <key>frame</key>
    <string>{{609,0},{94,110}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{94,110}}</string>
    <key>sourceSize</key>
    <string>{94,110}</string>
   </dict>
   <key>fishing_qiqi_cane.png</key>
   <dict>
    <key>frame</key>
    <string>{{372,135},{25,57}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{25,57}}</string>
    <key>sourceSize</key>
    <string>{25,57}</string>
   </dict>
   <key>fishing_qiqi_glasses.png</key>
   <dict>
    <key>frame</key>
    <string>{{472,301},{96,45}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{96,45}}</string>
    <key>sourceSize</key>
    <string>{96,45}</string>
   </dict>
   <key>fishing_qiqi_hat.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,277},{52,31}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{52,31}}</string>
    <key>sourceSize</key>
    <string>{52,31}</string>
   </dict>
   <key>fishing_qiqi_badsky.png</key>
   <dict>
    <key>frame</key>
    <string>{{69,195},{20,14}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{20,14}}</string>
    <key>sourceSize</key>
    <string>{20,14}</string>
   </dict>
   <key>fishing_qiqi_eye07.png</key>
   <dict>
    <key>frame</key>
    <string>{{275,112},{7,7}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{7,7}}</string>
    <key>sourceSize</key>
    <string>{7,7}</string>
   </dict>
   <key>fishing_qiqi_socks.png</key>
   <dict>
    <key>frame</key>
    <string>{{372,76},{25,57}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{25,57}}</string>
    <key>sourceSize</key>
    <string>{25,57}</string>
   </dict>
   <key>fishing_qiqi_box_falldown01.png</key>
   <dict>
    <key>frame</key>
    <string>{{417,0},{94,110}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{94,110}}</string>
    <key>sourceSize</key>
    <string>{94,110}</string>
   </dict>
   <key>fishing_qiqi_effect07.png</key>
   <dict>
    <key>frame</key>
    <string>{{275,190},{95,95}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{95,95}}</string>
    <key>sourceSize</key>
    <string>{95,95}</string>
   </dict>
   <key>fishing_qiqi_caton15.png</key>
   <dict>
    <key>frame</key>
    <string>{{801,0},{92,106}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{92,106}}</string>
    <key>sourceSize</key>
    <string>{92,106}</string>
   </dict>
   <key>fishing_qiqi_caton13.png</key>
   <dict>
    <key>frame</key>
    <string>{{513,112},{82,107}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{82,107}}</string>
    <key>sourceSize</key>
    <string>{82,107}</string>
   </dict>
   <key>fishing_qiqi_caton14.png</key>
   <dict>
    <key>frame</key>
    <string>{{885,197},{98,93}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{98,93}}</string>
    <key>sourceSize</key>
    <string>{98,93}</string>
   </dict>
   <key>fishing_qiqi_caton10.png</key>
   <dict>
    <key>frame</key>
    <string>{{399,97},{12,22}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{12,22}}</string>
    <key>sourceSize</key>
    <string>{12,22}</string>
   </dict>
   <key>fishing_qiqi_caton09.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,0},{90,121}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{90,121}}</string>
    <key>sourceSize</key>
    <string>{90,121}</string>
   </dict>
   <key>fishing_qiqi_caton12.png</key>
   <dict>
    <key>frame</key>
    <string>{{895,0},{88,110}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{88,110}}</string>
    <key>sourceSize</key>
    <string>{88,110}</string>
   </dict>
   <key>fishing_qiqi_caton11.png</key>
   <dict>
    <key>frame</key>
    <string>{{985,99},{11,19}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{11,19}}</string>
    <key>sourceSize</key>
    <string>{11,19}</string>
   </dict>
   <key>fishing_qiqi_caton16.png</key>
   <dict>
    <key>frame</key>
    <string>{{499,112},{12,15}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{12,15}}</string>
    <key>sourceSize</key>
    <string>{12,15}</string>
   </dict>
   <key>fishing_qiqi_hand06.png</key>
   <dict>
    <key>frame</key>
    <string>{{469,222},{17,14}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{17,14}}</string>
    <key>sourceSize</key>
    <string>{17,14}</string>
   </dict>
   <key>fishing_qiqi_pearl.png</key>
   <dict>
    <key>frame</key>
    <string>{{998,132},{24,24}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{24,24}}</string>
    <key>sourceSize</key>
    <string>{24,24}</string>
   </dict>
   <key>fishing_qiqi_caton07.png</key>
   <dict>
    <key>frame</key>
    <string>{{597,207},{98,93}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{98,93}}</string>
    <key>sourceSize</key>
    <string>{98,93}</string>
   </dict>
   <key>fishing_qiqi_caton08.png</key>
   <dict>
    <key>frame</key>
    <string>{{697,219},{98,93}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{98,93}}</string>
    <key>sourceSize</key>
    <string>{98,93}</string>
   </dict>
   <key>fishing_qiqi_caton04.png</key>
   <dict>
    <key>frame</key>
    <string>{{985,244},{30,20}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{30,20}}</string>
    <key>sourceSize</key>
    <string>{30,20}</string>
   </dict>
   <key>fishing_qiqi_caton05.png</key>
   <dict>
    <key>frame</key>
    <string>{{609,112},{92,93}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{92,93}}</string>
    <key>sourceSize</key>
    <string>{92,93}</string>
   </dict>
   <key>fishing_qiqi_caton06.png</key>
   <dict>
    <key>frame</key>
    <string>{{985,266},{31,15}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{31,15}}</string>
    <key>sourceSize</key>
    <string>{31,15}</string>
   </dict>
   <key>fishing_qiqi_caton03.png</key>
   <dict>
    <key>frame</key>
    <string>{{998,158},{24,23}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{24,23}}</string>
    <key>sourceSize</key>
    <string>{24,23}</string>
   </dict>
   <key>fishing_qiqi_caton02.png</key>
   <dict>
    <key>frame</key>
    <string>{{801,108},{82,115}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{82,115}}</string>
    <key>sourceSize</key>
    <string>{82,115}</string>
   </dict>
   <key>fishing_qiqi_caton01.png</key>
   <dict>
    <key>frame</key>
    <string>{{92,0},{92,118}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{92,118}}</string>
    <key>sourceSize</key>
    <string>{92,118}</string>
   </dict>
   <key>fishing_qiqi_diving02.png</key>
   <dict>
    <key>frame</key>
    <string>{{797,225},{55,61}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{55,61}}</string>
    <key>sourceSize</key>
    <string>{55,61}</string>
   </dict>
   <key>fishing_qiqi_diving01.png</key>
   <dict>
    <key>frame</key>
    <string>{{183,223},{90,34}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{90,34}}</string>
    <key>sourceSize</key>
    <string>{90,34}</string>
   </dict>
   <key>fishing_qiqi_diving03.png</key>
   <dict>
    <key>frame</key>
    <string>{{998,183},{22,18}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{22,18}}</string>
    <key>sourceSize</key>
    <string>{22,18}</string>
   </dict>
   <key>fishing_qiqi_gem_gem01.png</key>
   <dict>
    <key>frame</key>
    <string>{{981,153},{15,12}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{15,12}}</string>
    <key>sourceSize</key>
    <string>{15,12}</string>
   </dict>
   <key>fishing_qiqi_gem_gem02.png</key>
   <dict>
    <key>frame</key>
    <string>{{597,128},{9,12}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{9,12}}</string>
    <key>sourceSize</key>
    <string>{9,12}</string>
   </dict>
   <key>fishing_qiqi_gem_gem03.png</key>
   <dict>
    <key>frame</key>
    <string>{{499,129},{12,13}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{12,13}}</string>
    <key>sourceSize</key>
    <string>{12,13}</string>
   </dict>
   <key>fishing_qiqi_gem_gem04.png</key>
   <dict>
    <key>frame</key>
    <string>{{597,112},{10,14}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{10,14}}</string>
    <key>sourceSize</key>
    <string>{10,14}</string>
   </dict>
   <key>fishing_qiqi_gem_gem05.png</key>
   <dict>
    <key>frame</key>
    <string>{{597,142},{9,9}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{9,9}}</string>
    <key>sourceSize</key>
    <string>{9,9}</string>
   </dict>
   <key>fishing_qiqi_caton17.png</key>
   <dict>
    <key>frame</key>
    <string>{{399,121},{11,15}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{11,15}}</string>
    <key>sourceSize</key>
    <string>{11,15}</string>
   </dict>
   <key>fishing_qiqi_crown.png</key>
   <dict>
    <key>frame</key>
    <string>{{797,288},{44,33}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{44,33}}</string>
    <key>sourceSize</key>
    <string>{44,33}</string>
   </dict>
   <key>fishing_qiqi_gem.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,310},{46,28}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{46,28}}</string>
    <key>sourceSize</key>
    <string>{46,28}</string>
   </dict>
   <key>fishing_qiqi_hand05.png</key>
   <dict>
    <key>frame</key>
    <string>{{158,311},{55,20}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{55,20}}</string>
    <key>sourceSize</key>
    <string>{55,20}</string>
   </dict>
   <key>fishing_qiqi_effect03.png</key>
   <dict>
    <key>frame</key>
    <string>{{499,221},{64,78}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{64,78}}</string>
    <key>sourceSize</key>
    <string>{64,78}</string>
   </dict>
   <key>fishing_qiqi_effect04.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,195},{67,80}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{67,80}}</string>
    <key>sourceSize</key>
    <string>{67,80}</string>
   </dict>
   <key>fishing_qiqi_effect05.png</key>
   <dict>
    <key>frame</key>
    <string>{{91,199},{66,76}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{66,76}}</string>
    <key>sourceSize</key>
    <string>{66,76}</string>
   </dict>
   <key>fishing_qiqi_eye06.png</key>
   <dict>
    <key>frame</key>
    <string>{{683,314},{55,18}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{55,18}}</string>
    <key>sourceSize</key>
    <string>{55,18}</string>
   </dict>
   <key>fishing_qiqi_body02.png</key>
   <dict>
    <key>frame</key>
    <string>{{705,0},{94,109}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{94,109}}</string>
    <key>sourceSize</key>
    <string>{94,109}</string>
   </dict>
   <key>fishing_qiqi_head.png</key>
   <dict>
    <key>frame</key>
    <string>{{284,0},{131,74}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{131,74}}</string>
    <key>sourceSize</key>
    <string>{131,74}</string>
   </dict>
   <key>fishing_qiqi_starfish_eye01.png</key>
   <dict>
    <key>frame</key>
    <string>{{981,167},{13,13}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{13,13}}</string>
    <key>sourceSize</key>
    <string>{13,13}</string>
   </dict>
   <key>fishing_qiqi_starfish_mouth.png</key>
   <dict>
    <key>frame</key>
    <string>{{1003,36},{19,21}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{19,21}}</string>
    <key>sourceSize</key>
    <string>{19,21}</string>
   </dict>
   <key>fishing_qiqi_starfish_body02.png</key>
   <dict>
    <key>frame</key>
    <string>{{92,120},{83,77}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{83,77}}</string>
    <key>sourceSize</key>
    <string>{83,77}</string>
   </dict>
   <key>fishing_qiqi_starfish_body04.png</key>
   <dict>
    <key>frame</key>
    <string>{{410,222},{57,66}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{57,66}}</string>
    <key>sourceSize</key>
    <string>{57,66}</string>
   </dict>
   <key>fishing_qiqi_falldown02.png</key>
   <dict>
    <key>frame</key>
    <string>{{284,76},{86,112}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{86,112}}</string>
    <key>sourceSize</key>
    <string>{86,112}</string>
   </dict>
   <key>fishing_qiqi_falldown01.png</key>
   <dict>
    <key>frame</key>
    <string>{{513,0},{94,110}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{94,110}}</string>
    <key>sourceSize</key>
    <string>{94,110}</string>
   </dict>
   <key>fishing_qiqi_effect02.png</key>
   <dict>
    <key>frame</key>
    <string>{{740,314},{42,19}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{42,19}}</string>
    <key>sourceSize</key>
    <string>{42,19}</string>
   </dict>
   <key>fishing_qiqi_fishingrod03.png</key>
   <dict>
    <key>frame</key>
    <string>{{985,0},{16,76}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{16,76}}</string>
    <key>sourceSize</key>
    <string>{16,76}</string>
   </dict>
   <key>fishing_qiqi_fishingrod02.png</key>
   <dict>
    <key>frame</key>
    <string>{{570,302},{111,24}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{111,24}}</string>
    <key>sourceSize</key>
    <string>{111,24}</string>
   </dict>
   <key>fishing_qiqi_foot.png</key>
   <dict>
    <key>frame</key>
    <string>{{981,136},{13,15}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{13,15}}</string>
    <key>sourceSize</key>
    <string>{13,15}</string>
   </dict>
   <key>fishing_qiqi_effect01.png</key>
   <dict>
    <key>frame</key>
    <string>{{1003,0},{19,34}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{19,34}}</string>
    <key>sourceSize</key>
    <string>{19,34}</string>
   </dict>
   <key>fishing_qiqi_mouth04.png</key>
   <dict>
    <key>frame</key>
    <string>{{885,108},{8,7}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{8,7}}</string>
    <key>sourceSize</key>
    <string>{8,7}</string>
   </dict>
   <key>fishing_qiqi_air.png</key>
   <dict>
    <key>frame</key>
    <string>{{1003,59},{17,22}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{17,22}}</string>
    <key>sourceSize</key>
    <string>{17,22}</string>
   </dict>
   <key>fishing_qiqi_hand04.png</key>
   <dict>
    <key>frame</key>
    <string>{{985,203},{26,39}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{26,39}}</string>
    <key>sourceSize</key>
    <string>{26,39}</string>
   </dict>
   <key>fishing_qiqi_eye04.png</key>
   <dict>
    <key>frame</key>
    <string>{{177,120},{7,5}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{7,5}}</string>
    <key>sourceSize</key>
    <string>{7,5}</string>
   </dict>
   <key>fishing_qiqi_mouth03.png</key>
   <dict>
    <key>frame</key>
    <string>{{998,104},{23,26}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{23,26}}</string>
    <key>sourceSize</key>
    <string>{23,26}</string>
   </dict>
   <key>fishing_qiqi_mouth02.png</key>
   <dict>
    <key>frame</key>
    <string>{{69,211},{17,14}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{17,14}}</string>
    <key>sourceSize</key>
    <string>{17,14}</string>
   </dict>
   <key>fishing_qiqi_eye05.png</key>
   <dict>
    <key>frame</key>
    <string>{{981,182},{15,9}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{15,9}}</string>
    <key>sourceSize</key>
    <string>{15,9}</string>
   </dict>
   <key>fishing_qiqi_hand03.png</key>
   <dict>
    <key>frame</key>
    <string>{{854,225},{17,13}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{17,13}}</string>
    <key>sourceSize</key>
    <string>{17,13}</string>
   </dict>
   <key>fishing_qiqi_fishingrod01.png</key>
   <dict>
    <key>frame</key>
    <string>{{843,292},{164,25}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{164,25}}</string>
    <key>sourceSize</key>
    <string>{164,25}</string>
   </dict>
   <key>fishing_qiqi_hair01.png</key>
   <dict>
    <key>frame</key>
    <string>{{159,213},{22,12}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{22,12}}</string>
    <key>sourceSize</key>
    <string>{22,12}</string>
   </dict>
   <key>fishing_qiqi_eye01.png</key>
   <dict>
    <key>frame</key>
    <string>{{399,150},{9,8}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{9,8}}</string>
    <key>sourceSize</key>
    <string>{9,8}</string>
   </dict>
   <key>fishing_qiqi_eye02.png</key>
   <dict>
    <key>frame</key>
    <string>{{499,144},{11,10}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{11,10}}</string>
    <key>sourceSize</key>
    <string>{11,10}</string>
   </dict>
   <key>fishing_qiqi_eye03.png</key>
   <dict>
    <key>frame</key>
    <string>{{372,226},{32,29}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{32,29}}</string>
    <key>sourceSize</key>
    <string>{32,29}</string>
   </dict>
   <key>fishing_qiqi_red01.png</key>
   <dict>
    <key>frame</key>
    <string>{{597,153},{10,3}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{10,3}}</string>
    <key>sourceSize</key>
    <string>{10,3}</string>
   </dict>
   <key>fishing_qiqi_nose01.png</key>
   <dict>
    <key>frame</key>
    <string>{{885,117},{8,6}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{8,6}}</string>
    <key>sourceSize</key>
    <string>{8,6}</string>
   </dict>
   <key>fishing_qiqi_mouth01.png</key>
   <dict>
    <key>frame</key>
    <string>{{69,227},{17,6}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{17,6}}</string>
    <key>sourceSize</key>
    <string>{17,6}</string>
   </dict>
   <key>fishing_qiqi_bowtie01.png</key>
   <dict>
    <key>frame</key>
    <string>{{159,199},{22,12}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{22,12}}</string>
    <key>sourceSize</key>
    <string>{22,12}</string>
   </dict>
   <key>fishing_qiqi_face01.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,123},{82,70}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{82,70}}</string>
    <key>sourceSize</key>
    <string>{82,70}</string>
   </dict>
   <key>fishing_qiqi_ear01.png</key>
   <dict>
    <key>frame</key>
    <string>{{565,221},{27,28}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{27,28}}</string>
    <key>sourceSize</key>
    <string>{27,28}</string>
   </dict>
   <key>fishing_qiqi_hand02.png</key>
   <dict>
    <key>frame</key>
    <string>{{985,78},{15,19}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{15,19}}</string>
    <key>sourceSize</key>
    <string>{15,19}</string>
   </dict>
   <key>fishing_qiqi_body01.png</key>
   <dict>
    <key>frame</key>
    <string>{{372,194},{36,30}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{36,30}}</string>
    <key>sourceSize</key>
    <string>{36,30}</string>
   </dict>
   <key>fishing_qiqi_hand01.png</key>
   <dict>
    <key>frame</key>
    <string>{{399,76},{15,19}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{15,19}}</string>
    <key>sourceSize</key>
    <string>{15,19}</string>
   </dict>
   <key>fishing_qiqi_leg02.png</key>
   <dict>
    <key>frame</key>
    <string>{{981,120},{15,14}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{15,14}}</string>
    <key>sourceSize</key>
    <string>{15,14}</string>
   </dict>
   <key>fishing_qiqi_leg01.png</key>
   <dict>
    <key>frame</key>
    <string>{{399,138},{12,10}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{12,10}}</string>
    <key>sourceSize</key>
    <string>{12,10}</string>
   </dict>
   <key>fishing_qiqi_shadow01.png</key>
   <dict>
    <key>frame</key>
    <string>{{372,257},{35,12}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{35,12}}</string>
    <key>sourceSize</key>
    <string>{35,12}</string>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>2</integer>
   <key>realTextureFileName</key>
   <string>fishing_qiqi02.png</string>
   <key>textureFileName</key>
   <string>fishing_qiqi02.png</string>
   <key>size</key>
   <string>{1024,512}</string>
  </dict>
 </dict>
</plist>