<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>fishing_qiqi_effect03_big.png</key>
      <dict>
        <key>frame</key>
        <string>{{281,0},{268,325}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{268,325}}</string>
        <key>sourceSize</key>
        <string>{268,325}</string>
      </dict>
      <key>fishing_qiqi_effect04_big.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{279,335}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{279,335}}</string>
        <key>sourceSize</key>
        <string>{279,335}</string>
      </dict>
      <key>fishing_qiqi_effect05_big.png</key>
      <dict>
        <key>frame</key>
        <string>{{551,0},{275,317}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{275,317}}</string>
        <key>sourceSize</key>
        <string>{275,317}</string>
      </dict>
      <key>fishing_qiqi_eye06_big.png</key>
      <dict>
        <key>frame</key>
        <string>{{519,517},{123,39}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{123,39}}</string>
        <key>sourceSize</key>
        <string>{123,39}</string>
      </dict>
      <key>fishing_qiqi_body02_big.png</key>
      <dict>
        <key>frame</key>
        <string>{{1349,0},{216,250}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{216,250}}</string>
        <key>sourceSize</key>
        <string>{216,250}</string>
      </dict>
      <key>fishing_qiqi_head_big.png</key>
      <dict>
        <key>frame</key>
        <string>{{1047,0},{300,167}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{300,167}}</string>
        <key>sourceSize</key>
        <string>{300,167}</string>
      </dict>
      <key>fishing_qiqi_water04_big.png</key>
      <dict>
        <key>frame</key>
        <string>{{644,517},{119,41}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{119,41}}</string>
        <key>sourceSize</key>
        <string>{119,41}</string>
      </dict>
      <key>fishing_qiqi_water03_big.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,544},{106,49}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{106,49}}</string>
        <key>sourceSize</key>
        <string>{106,49}</string>
      </dict>
      <key>fishing_qiqi_water02_big.png</key>
      <dict>
        <key>frame</key>
        <string>{{868,501},{110,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{110,64}}</string>
        <key>sourceSize</key>
        <string>{110,64}</string>
      </dict>
      <key>fishing_qiqi_water01_big.png</key>
      <dict>
        <key>frame</key>
        <string>{{181,509},{104,65}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{104,65}}</string>
        <key>sourceSize</key>
        <string>{104,65}</string>
      </dict>
      <key>fishing_qiqi_effect02_big.png</key>
      <dict>
        <key>frame</key>
        <string>{{281,327},{260,112}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{260,112}}</string>
        <key>sourceSize</key>
        <string>{260,112}</string>
      </dict>
      <key>fishing_qiqi_fishingrod03_big.png</key>
      <dict>
        <key>frame</key>
        <string>{{1978,0},{34,173}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{34,173}}</string>
        <key>sourceSize</key>
        <string>{34,173}</string>
      </dict>
      <key>fishing_qiqi_starfish_body04_big.png</key>
      <dict>
        <key>frame</key>
        <string>{{1205,464},{139,102}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{139,102}}</string>
        <key>sourceSize</key>
        <string>{139,102}</string>
      </dict>
      <key>fishing_qiqi_falldown01_big.png</key>
      <dict>
        <key>frame</key>
        <string>{{828,0},{217,252}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{217,252}}</string>
        <key>sourceSize</key>
        <string>{217,252}</string>
      </dict>
      <key>fishing_qiqi_starfish_eye01_big.png</key>
      <dict>
        <key>frame</key>
        <string>{{2014,145},{31,31}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{31,31}}</string>
        <key>sourceSize</key>
        <string>{31,31}</string>
      </dict>
      <key>fishing_qiqi_starfish_mouth_big.png</key>
      <dict>
        <key>frame</key>
        <string>{{1970,434},{49,54}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{49,54}}</string>
        <key>sourceSize</key>
        <string>{49,54}</string>
      </dict>
      <key>fishing_qiqi_starfish_body02_big.png</key>
      <dict>
        <key>frame</key>
        <string>{{551,319},{212,196}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{212,196}}</string>
        <key>sourceSize</key>
        <string>{212,196}</string>
      </dict>
      <key>fishing_qiqi_octopus_body_big.png</key>
      <dict>
        <key>frame</key>
        <string>{{1775,449},{131,139}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{131,139}}</string>
        <key>sourceSize</key>
        <string>{131,139}</string>
      </dict>
      <key>fishing_qiqi_empty_big.png</key>
      <dict>
        <key>frame</key>
        <string>{{1970,348},{16,13}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{16,13}}</string>
        <key>sourceSize</key>
        <string>{16,13}</string>
      </dict>
      <key>fishing_qiqi_boxeffect04_big.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,453},{179,89}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{179,89}}</string>
        <key>sourceSize</key>
        <string>{179,89}</string>
      </dict>
      <key>fishing_qiqi_boxeffect03_big.png</key>
      <dict>
        <key>frame</key>
        <string>{{1554,488},{174,92}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{174,92}}</string>
        <key>sourceSize</key>
        <string>{174,92}</string>
      </dict>
      <key>fishing_qiqi_boxeffect02_big.png</key>
      <dict>
        <key>frame</key>
        <string>{{1346,494},{175,88}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{175,88}}</string>
        <key>sourceSize</key>
        <string>{175,88}</string>
      </dict>
      <key>fishing_qiqi_boxeffect01_big.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,337},{249,114}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{249,114}}</string>
        <key>sourceSize</key>
        <string>{249,114}</string>
      </dict>
      <key>fishing_qiqi_around07_big.png</key>
      <dict>
        <key>frame</key>
        <string>{{1775,259},{193,188}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{193,188}}</string>
        <key>sourceSize</key>
        <string>{193,188}</string>
      </dict>
      <key>fishing_qiqi_around08_big.png</key>
      <dict>
        <key>frame</key>
        <string>{{765,440},{44,35}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{44,35}}</string>
        <key>sourceSize</key>
        <string>{44,35}</string>
      </dict>
      <key>fishing_qiqi_around06_big.png</key>
      <dict>
        <key>frame</key>
        <string>{{1249,266},{93,69}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{93,69}}</string>
        <key>sourceSize</key>
        <string>{93,69}</string>
      </dict>
      <key>fishing_qiqi_around05_big.png</key>
      <dict>
        <key>frame</key>
        <string>{{1567,245},{206,241}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{206,241}}</string>
        <key>sourceSize</key>
        <string>{206,241}</string>
      </dict>
      <key>fishing_qiqi_badsky_big.png</key>
      <dict>
        <key>frame</key>
        <string>{{1970,316},{20,14}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{20,14}}</string>
        <key>sourceSize</key>
        <string>{20,14}</string>
      </dict>
      <key>fishing_qiqi_eye07_big.png</key>
      <dict>
        <key>frame</key>
        <string>{{251,337},{15,16}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{15,16}}</string>
        <key>sourceSize</key>
        <string>{15,16}</string>
      </dict>
      <key>fishing_qiqi_socks_big.png</key>
      <dict>
        <key>frame</key>
        <string>{{1997,271},{44,93}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{44,93}}</string>
        <key>sourceSize</key>
        <string>{44,93}</string>
      </dict>
      <key>fishing_qiqi_eye05_big.png</key>
      <dict>
        <key>frame</key>
        <string>{{2013,178},{32,28}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{32,28}}</string>
        <key>sourceSize</key>
        <string>{32,28}</string>
      </dict>
      <key>fishing_qiqi_mouth04_big.png</key>
      <dict>
        <key>frame</key>
        <string>{{1970,332},{17,14}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{17,14}}</string>
        <key>sourceSize</key>
        <string>{17,14}</string>
      </dict>
      <key>fishing_qiqi_box_falldown01_big.png</key>
      <dict>
        <key>frame</key>
        <string>{{1346,252},{206,240}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{206,240}}</string>
        <key>sourceSize</key>
        <string>{206,240}</string>
      </dict>
      <key>fishing_qiqi_falldown02_big.png</key>
      <dict>
        <key>frame</key>
        <string>{{1780,0},{196,257}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{196,257}}</string>
        <key>sourceSize</key>
        <string>{196,257}</string>
      </dict>
      <key>fishing_qiqi_caton10_big.png</key>
      <dict>
        <key>frame</key>
        <string>{{2014,0},{25,48}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{25,48}}</string>
        <key>sourceSize</key>
        <string>{25,48}</string>
      </dict>
      <key>fishing_qiqi_caton12_big.png</key>
      <dict>
        <key>frame</key>
        <string>{{1047,169},{200,251}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{200,251}}</string>
        <key>sourceSize</key>
        <string>{200,251}</string>
      </dict>
      <key>fishing_qiqi_pearl_big.png</key>
      <dict>
        <key>frame</key>
        <string>{{765,383},{55,55}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{55,55}}</string>
        <key>sourceSize</key>
        <string>{55,55}</string>
      </dict>
      <key>fishing_qiqi_effect07_big.png</key>
      <dict>
        <key>frame</key>
        <string>{{1249,169},{95,95}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{95,95}}</string>
        <key>sourceSize</key>
        <string>{95,95}</string>
      </dict>
      <key>fishing_qiqi_caton15_big.png</key>
      <dict>
        <key>frame</key>
        <string>{{1567,0},{211,243}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{211,243}}</string>
        <key>sourceSize</key>
        <string>{211,243}</string>
      </dict>
      <key>fishing_qiqi_caton13_big.png</key>
      <dict>
        <key>frame</key>
        <string>{{828,254},{187,245}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{187,245}}</string>
        <key>sourceSize</key>
        <string>{187,245}</string>
      </dict>
      <key>fishing_qiqi_caton11_big.png</key>
      <dict>
        <key>frame</key>
        <string>{{2014,101},{22,42}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{22,42}}</string>
        <key>sourceSize</key>
        <string>{22,42}</string>
      </dict>
      <key>fishing_qiqi_eye01_big.png</key>
      <dict>
        <key>frame</key>
        <string>{{1017,310},{20,18}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{20,18}}</string>
        <key>sourceSize</key>
        <string>{20,18}</string>
      </dict>
      <key>fishing_qiqi_mouth01_big.png</key>
      <dict>
        <key>frame</key>
        <string>{{1303,406},{39,13}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{39,13}}</string>
        <key>sourceSize</key>
        <string>{39,13}</string>
      </dict>
      <key>fishing_qiqi_gem_gem01_big.png</key>
      <dict>
        <key>frame</key>
        <string>{{1978,175},{33,27}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{33,27}}</string>
        <key>sourceSize</key>
        <string>{33,27}</string>
      </dict>
      <key>fishing_qiqi_gem_gem02_big.png</key>
      <dict>
        <key>frame</key>
        <string>{{1970,287},{19,27}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{19,27}}</string>
        <key>sourceSize</key>
        <string>{19,27}</string>
      </dict>
      <key>fishing_qiqi_gem_gem03_big.png</key>
      <dict>
        <key>frame</key>
        <string>{{1978,204},{27,28}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{27,28}}</string>
        <key>sourceSize</key>
        <string>{27,28}</string>
      </dict>
      <key>fishing_qiqi_gem_gem04_big.png</key>
      <dict>
        <key>frame</key>
        <string>{{1017,254},{20,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{20,32}}</string>
        <key>sourceSize</key>
        <string>{20,32}</string>
      </dict>
      <key>fishing_qiqi_gem_gem05_big.png</key>
      <dict>
        <key>frame</key>
        <string>{{1017,288},{21,20}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{21,20}}</string>
        <key>sourceSize</key>
        <string>{21,20}</string>
      </dict>
      <key>fishing_qiqi_hand03_big.png</key>
      <dict>
        <key>frame</key>
        <string>{{2007,242},{39,27}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{39,27}}</string>
        <key>sourceSize</key>
        <string>{39,27}</string>
      </dict>
      <key>fishing_qiqi_crown_big.png</key>
      <dict>
        <key>frame</key>
        <string>{{765,501},{101,75}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{101,75}}</string>
        <key>sourceSize</key>
        <string>{101,75}</string>
      </dict>
      <key>fishing_qiqi_gem_big.png</key>
      <dict>
        <key>frame</key>
        <string>{{413,509},{104,62}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{104,62}}</string>
        <key>sourceSize</key>
        <string>{104,62}</string>
      </dict>
      <key>fishing_qiqi_mouth02_big.png</key>
      <dict>
        <key>frame</key>
        <string>{{2007,208},{39,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{39,32}}</string>
        <key>sourceSize</key>
        <string>{39,32}</string>
      </dict>
      <key>fishing_qiqi_hand05_big.png</key>
      <dict>
        <key>frame</key>
        <string>{{287,509},{124,43}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{124,43}}</string>
        <key>sourceSize</key>
        <string>{124,43}</string>
      </dict>
      <key>fishing_qiqi_fishingrod02_big.png</key>
      <dict>
        <key>frame</key>
        <string>{{251,441},{251,66}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{251,66}}</string>
        <key>sourceSize</key>
        <string>{251,66}</string>
      </dict>
      <key>fishing_qiqi_fishingrod01_big.png</key>
      <dict>
        <key>frame</key>
        <string>{{287,573},{373,71}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{373,71}}</string>
        <key>sourceSize</key>
        <string>{373,71}</string>
      </dict>
      <key>fishing_qiqi_eye04_big.png</key>
      <dict>
        <key>frame</key>
        <string>{{1017,354},{17,10}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{17,10}}</string>
        <key>sourceSize</key>
        <string>{17,10}</string>
      </dict>
      <key>fishing_qiqi_eye02_big.png</key>
      <dict>
        <key>frame</key>
        <string>{{1970,262},{25,23}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{25,23}}</string>
        <key>sourceSize</key>
        <string>{25,23}</string>
      </dict>
      <key>fishing_qiqi_eye03_big.png</key>
      <dict>
        <key>frame</key>
        <string>{{1970,366},{73,66}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{73,66}}</string>
        <key>sourceSize</key>
        <string>{73,66}</string>
      </dict>
      <key>fishing_qiqi_red01_big.png</key>
      <dict>
        <key>frame</key>
        <string>{{1017,345},{23,7}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{23,7}}</string>
        <key>sourceSize</key>
        <string>{23,7}</string>
      </dict>
      <key>fishing_qiqi_nose01_big.png</key>
      <dict>
        <key>frame</key>
        <string>{{1017,330},{18,13}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{18,13}}</string>
        <key>sourceSize</key>
        <string>{18,13}</string>
      </dict>
      <key>fishing_qiqi_mouth03_big.png</key>
      <dict>
        <key>frame</key>
        <string>{{1249,406},{52,56}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{52,56}}</string>
        <key>sourceSize</key>
        <string>{52,56}</string>
      </dict>
      <key>fishing_qiqi_bowtie01_big.png</key>
      <dict>
        <key>frame</key>
        <string>{{1908,449},{50,25}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{50,25}}</string>
        <key>sourceSize</key>
        <string>{50,25}</string>
      </dict>
      <key>fishing_qiqi_hand01_big.png</key>
      <dict>
        <key>frame</key>
        <string>{{2014,50},{24,49}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{24,49}}</string>
        <key>sourceSize</key>
        <string>{24,49}</string>
      </dict>
      <key>fishing_qiqi_face01_big.png</key>
      <dict>
        <key>frame</key>
        <string>{{1017,422},{186,159}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{186,159}}</string>
        <key>sourceSize</key>
        <string>{186,159}</string>
      </dict>
      <key>fishing_qiqi_hair01_big.png</key>
      <dict>
        <key>frame</key>
        <string>{{181,453},{48,26}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{48,26}}</string>
        <key>sourceSize</key>
        <string>{48,26}</string>
      </dict>
      <key>fishing_qiqi_ear01_big.png</key>
      <dict>
        <key>frame</key>
        <string>{{765,319},{60,62}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{60,62}}</string>
        <key>sourceSize</key>
        <string>{60,62}</string>
      </dict>
      <key>fishing_qiqi_body01_big.png</key>
      <dict>
        <key>frame</key>
        <string>{{1249,337},{81,67}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{81,67}}</string>
        <key>sourceSize</key>
        <string>{81,67}</string>
      </dict>
      <key>fishing_qiqi_leg01_big.png</key>
      <dict>
        <key>frame</key>
        <string>{{1978,234},{27,26}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{27,26}}</string>
        <key>sourceSize</key>
        <string>{27,26}</string>
      </dict>
      <key>fishing_qiqi_shadow_big.png</key>
      <dict>
        <key>frame</key>
        <string>{{1303,421},{35,12}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{35,12}}</string>
        <key>sourceSize</key>
        <string>{35,12}</string>
      </dict>
      <key>fishing_qiqi_shuitong_big.png</key>
      <dict>
        <key>frame</key>
        <string>{{1908,490},{113,96}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{113,96}}</string>
        <key>sourceSize</key>
        <string>{113,96}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>fishing_qiqi_big.png</string>
      <key>textureFileName</key>
      <string>fishing_qiqi_big.png</string>
      <key>size</key>
      <string>{2048,1024}</string>
    </dict>
  </dict>
</plist>