<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>welcome_qiqi_mouth01.png</key>
      <dict>
        <key>frame</key>
        <string>{{531,233},{24,24}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{24,24}}</string>
        <key>sourceSize</key>
        <string>{24,24}</string>
      </dict>
      <key>welcome_water04.png</key>
      <dict>
        <key>frame</key>
        <string>{{133,257},{105,44}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{105,44}}</string>
        <key>sourceSize</key>
        <string>{105,44}</string>
      </dict>
      <key>welcome_water02.png</key>
      <dict>
        <key>frame</key>
        <string>{{838,190},{111,42}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{111,42}}</string>
        <key>sourceSize</key>
        <string>{111,42}</string>
      </dict>
      <key>welcome_water03.png</key>
      <dict>
        <key>frame</key>
        <string>{{240,258},{103,42}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{103,42}}</string>
        <key>sourceSize</key>
        <string>{103,42}</string>
      </dict>
      <key>welcome_water01.png</key>
      <dict>
        <key>frame</key>
        <string>{{838,234},{108,45}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{108,45}}</string>
        <key>sourceSize</key>
        <string>{108,45}</string>
      </dict>
      <key>welcome_buoy.png</key>
      <dict>
        <key>frame</key>
        <string>{{951,201},{26,56}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{26,56}}</string>
        <key>sourceSize</key>
        <string>{26,56}</string>
      </dict>
      <key>welcome_qiqi_arm01.png</key>
      <dict>
        <key>frame</key>
        <string>{{964,155},{54,44}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{54,44}}</string>
        <key>sourceSize</key>
        <string>{54,44}</string>
      </dict>
      <key>welcome_qiqi_rod.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,257},{131,31}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{131,31}}</string>
        <key>sourceSize</key>
        <string>{131,31}</string>
      </dict>
      <key>welcome_rod_line01.png</key>
      <dict>
        <key>frame</key>
        <string>{{964,0},{3,149}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{3,149}}</string>
        <key>sourceSize</key>
        <string>{3,149}</string>
      </dict>
      <key>welcome_boat_water02.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{568,124}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{568,124}}</string>
        <key>sourceSize</key>
        <string>{568,124}</string>
      </dict>
      <key>welcome_qiqi_hair.png</key>
      <dict>
        <key>frame</key>
        <string>{{979,226},{40,18}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{40,18}}</string>
        <key>sourceSize</key>
        <string>{40,18}</string>
      </dict>
      <key>welcome_qiqi_eye01.png</key>
      <dict>
        <key>frame</key>
        <string>{{549,208},{14,14}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{14,14}}</string>
        <key>sourceSize</key>
        <string>{14,14}</string>
      </dict>
      <key>welcome_qiqi_eye05.png</key>
      <dict>
        <key>frame</key>
        <string>{{549,224},{13,7}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{13,7}}</string>
        <key>sourceSize</key>
        <string>{13,7}</string>
      </dict>
      <key>welcome_qiqi_eye02.png</key>
      <dict>
        <key>frame</key>
        <string>{{549,188},{19,18}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{19,18}}</string>
        <key>sourceSize</key>
        <string>{19,18}</string>
      </dict>
      <key>welcome_qiqi_eye03.png</key>
      <dict>
        <key>frame</key>
        <string>{{498,126},{62,60}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{62,60}}</string>
        <key>sourceSize</key>
        <string>{62,60}</string>
      </dict>
      <key>welcome_qiqi_eye04.png</key>
      <dict>
        <key>frame</key>
        <string>{{969,108},{52,45}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{52,45}}</string>
        <key>sourceSize</key>
        <string>{52,45}</string>
      </dict>
      <key>welcome_qiqi_blusher.png</key>
      <dict>
        <key>frame</key>
        <string>{{557,235},{135,28}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{135,28}}</string>
        <key>sourceSize</key>
        <string>{135,28}</string>
      </dict>
      <key>welcome_qiqi_nose.png</key>
      <dict>
        <key>frame</key>
        <string>{{498,227},{31,22}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{31,22}}</string>
        <key>sourceSize</key>
        <string>{31,22}</string>
      </dict>
      <key>welcome_qiqi_bowknot.png</key>
      <dict>
        <key>frame</key>
        <string>{{979,201},{36,23}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{36,23}}</string>
        <key>sourceSize</key>
        <string>{36,23}</string>
      </dict>
      <key>welcome_qiqi_face.png</key>
      <dict>
        <key>frame</key>
        <string>{{342,126},{154,130}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{154,130}}</string>
        <key>sourceSize</key>
        <string>{154,130}</string>
      </dict>
      <key>welcome_qiqi_ear02.png</key>
      <dict>
        <key>frame</key>
        <string>{{969,0},{48,54}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{48,54}}</string>
        <key>sourceSize</key>
        <string>{48,54}</string>
      </dict>
      <key>welcome_qiqi_ear01.png</key>
      <dict>
        <key>frame</key>
        <string>{{969,56},{48,50}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{48,50}}</string>
        <key>sourceSize</key>
        <string>{48,50}</string>
      </dict>
      <key>welcome_boat02.png</key>
      <dict>
        <key>frame</key>
        <string>{{570,0},{392,188}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{392,188}}</string>
        <key>sourceSize</key>
        <string>{392,188}</string>
      </dict>
      <key>welcome_qiqi_body.png</key>
      <dict>
        <key>frame</key>
        <string>{{741,190},{95,85}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{95,85}}</string>
        <key>sourceSize</key>
        <string>{95,85}</string>
      </dict>
      <key>welcome_qiqi_arm02.png</key>
      <dict>
        <key>frame</key>
        <string>{{498,188},{49,37}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{49,37}}</string>
        <key>sourceSize</key>
        <string>{49,37}</string>
      </dict>
      <key>welcome_qiqi_shadow.png</key>
      <dict>
        <key>frame</key>
        <string>{{570,190},{169,43}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{169,43}}</string>
        <key>sourceSize</key>
        <string>{169,43}</string>
      </dict>
      <key>welcome_boat01.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,126},{340,129}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{340,129}}</string>
        <key>sourceSize</key>
        <string>{340,129}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>welcome_qiqi.png</string>
      <key>textureFileName</key>
      <string>welcome_qiqi.png</string>
      <key>size</key>
      <string>{1024,512}</string>
    </dict>
  </dict>
</plist>