<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>tortoise_down_water04.png</key>
      <dict>
        <key>frame</key>
        <string>{{1796,210},{181,174}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{181,174}}</string>
        <key>sourceSize</key>
        <string>{181,174}</string>
      </dict>
      <key>tortoise_down_water02.png</key>
      <dict>
        <key>frame</key>
        <string>{{1796,0},{200,208}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{200,208}}</string>
        <key>sourceSize</key>
        <string>{200,208}</string>
      </dict>
      <key>tortoise_down_water05.png</key>
      <dict>
        <key>frame</key>
        <string>{{281,669},{132,126}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{132,126}}</string>
        <key>sourceSize</key>
        <string>{132,126}</string>
      </dict>
      <key>tortoise_down_water03.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{293,303}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{293,303}}</string>
        <key>sourceSize</key>
        <string>{293,303}</string>
      </dict>
      <key>tortoise_down_water01.png</key>
      <dict>
        <key>frame</key>
        <string>{{1312,631},{140,133}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{140,133}}</string>
        <key>sourceSize</key>
        <string>{140,133}</string>
      </dict>
      <key>tortoise_line02.png</key>
      <dict>
        <key>frame</key>
        <string>{{1979,332},{65,109}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{65,109}}</string>
        <key>sourceSize</key>
        <string>{65,109}</string>
      </dict>
      <key>tortoise_line01.png</key>
      <dict>
        <key>frame</key>
        <string>{{224,773},{45,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{45,64}}</string>
        <key>sourceSize</key>
        <string>{45,64}</string>
      </dict>
      <key>tortoise_egg_body03.png</key>
      <dict>
        <key>frame</key>
        <string>{{1004,757},{86,95}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{86,95}}</string>
        <key>sourceSize</key>
        <string>{86,95}</string>
      </dict>
      <key>tortoise_egg_body01.png</key>
      <dict>
        <key>frame</key>
        <string>{{1959,660},{86,95}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{86,95}}</string>
        <key>sourceSize</key>
        <string>{86,95}</string>
      </dict>
      <key>tortoise_egg_eye01.png</key>
      <dict>
        <key>frame</key>
        <string>{{2027,158},{13,13}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{13,13}}</string>
        <key>sourceSize</key>
        <string>{13,13}</string>
      </dict>
      <key>tortoise_egg_eye02.png</key>
      <dict>
        <key>frame</key>
        <string>{{1979,269},{22,22}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{22,22}}</string>
        <key>sourceSize</key>
        <string>{22,22}</string>
      </dict>
      <key>tortoise_egg_head.png</key>
      <dict>
        <key>frame</key>
        <string>{{2008,229},{32,51}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{32,51}}</string>
        <key>sourceSize</key>
        <string>{32,51}</string>
      </dict>
      <key>tortoise_egg_leg02.png</key>
      <dict>
        <key>frame</key>
        <string>{{1941,427},{31,36}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{31,36}}</string>
        <key>sourceSize</key>
        <string>{31,36}</string>
      </dict>
      <key>tortoise_egg_leg01.png</key>
      <dict>
        <key>frame</key>
        <string>{{1941,386},{30,39}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{30,39}}</string>
        <key>sourceSize</key>
        <string>{30,39}</string>
      </dict>
      <key>tortoise_egg_tail.png</key>
      <dict>
        <key>frame</key>
        <string>{{1998,109},{13,44}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{13,44}}</string>
        <key>sourceSize</key>
        <string>{13,44}</string>
      </dict>
      <key>tortoise_egg03.png</key>
      <dict>
        <key>frame</key>
        <string>{{623,742},{108,78}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{108,78}}</string>
        <key>sourceSize</key>
        <string>{108,78}</string>
      </dict>
      <key>tortoise_egg06.png</key>
      <dict>
        <key>frame</key>
        <string>{{1435,776},{95,70}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{95,70}}</string>
        <key>sourceSize</key>
        <string>{95,70}</string>
      </dict>
      <key>tortoise_egg_body04.png</key>
      <dict>
        <key>frame</key>
        <string>{{415,794},{73,75}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{73,75}}</string>
        <key>sourceSize</key>
        <string>{73,75}</string>
      </dict>
      <key>tortoise_egg_body02.png</key>
      <dict>
        <key>frame</key>
        <string>{{1170,778},{75,73}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{75,73}}</string>
        <key>sourceSize</key>
        <string>{75,73}</string>
      </dict>
      <key>tortoise_egg02.png</key>
      <dict>
        <key>frame</key>
        <string>{{1974,443},{68,107}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{68,107}}</string>
        <key>sourceSize</key>
        <string>{68,107}</string>
      </dict>
      <key>tortoise_egg04.png</key>
      <dict>
        <key>frame</key>
        <string>{{1959,552},{77,106}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{77,106}}</string>
        <key>sourceSize</key>
        <string>{77,106}</string>
      </dict>
      <key>tortoise_egg05.png</key>
      <dict>
        <key>frame</key>
        <string>{{1898,538},{59,110}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{59,110}}</string>
        <key>sourceSize</key>
        <string>{59,110}</string>
      </dict>
      <key>tortoise_cracks02.png</key>
      <dict>
        <key>frame</key>
        <string>{{1998,0},{16,107}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{16,107}}</string>
        <key>sourceSize</key>
        <string>{16,107}</string>
      </dict>
      <key>tortoise_cracks01.png</key>
      <dict>
        <key>frame</key>
        <string>{{1998,155},{11,41}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{11,41}}</string>
        <key>sourceSize</key>
        <string>{11,41}</string>
      </dict>
      <key>tortoise_egg_symbol04.png</key>
      <dict>
        <key>frame</key>
        <string>{{2016,84},{9,77}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{9,77}}</string>
        <key>sourceSize</key>
        <string>{9,77}</string>
      </dict>
      <key>tortoise_egg_symbol02.png</key>
      <dict>
        <key>frame</key>
        <string>{{2030,79},{9,77}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{9,77}}</string>
        <key>sourceSize</key>
        <string>{9,77}</string>
      </dict>
      <key>tortoise_egg_symbol03.png</key>
      <dict>
        <key>frame</key>
        <string>{{2030,0},{11,77}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{11,77}}</string>
        <key>sourceSize</key>
        <string>{11,77}</string>
      </dict>
      <key>tortoise_egg_symbol01.png</key>
      <dict>
        <key>frame</key>
        <string>{{2016,0},{12,82}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{12,82}}</string>
        <key>sourceSize</key>
        <string>{12,82}</string>
      </dict>
      <key>tank_props_water03.png</key>
      <dict>
        <key>frame</key>
        <string>{{573,626},{170,114}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{170,114}}</string>
        <key>sourceSize</key>
        <string>{170,114}</string>
      </dict>
      <key>tortoise_egg01.png</key>
      <dict>
        <key>frame</key>
        <string>{{880,632},{160,108}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{160,108}}</string>
        <key>sourceSize</key>
        <string>{160,108}</string>
      </dict>
      <key>grass02_body01.png</key>
      <dict>
        <key>frame</key>
        <string>{{1950,757},{86,85}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{86,85}}</string>
        <key>sourceSize</key>
        <string>{86,85}</string>
      </dict>
      <key>grass02_body02.png</key>
      <dict>
        <key>frame</key>
        <string>{{1092,757},{76,91}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{76,91}}</string>
        <key>sourceSize</key>
        <string>{76,91}</string>
      </dict>
      <key>grass02_body03.png</key>
      <dict>
        <key>frame</key>
        <string>{{224,700},{44,71}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{44,71}}</string>
        <key>sourceSize</key>
        <string>{44,71}</string>
      </dict>
      <key>grass01_body06.png</key>
      <dict>
        <key>frame</key>
        <string>{{880,742},{122,65}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{122,65}}</string>
        <key>sourceSize</key>
        <string>{122,65}</string>
      </dict>
      <key>grass01_body02.png</key>
      <dict>
        <key>frame</key>
        <string>{{271,797},{87,30}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{87,30}}</string>
        <key>sourceSize</key>
        <string>{87,30}</string>
      </dict>
      <key>grass01_body05.png</key>
      <dict>
        <key>frame</key>
        <string>{{733,770},{114,58}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{114,58}}</string>
        <key>sourceSize</key>
        <string>{114,58}</string>
      </dict>
      <key>grass01_body04.png</key>
      <dict>
        <key>frame</key>
        <string>{{1532,776},{76,76}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{76,76}}</string>
        <key>sourceSize</key>
        <string>{76,76}</string>
      </dict>
      <key>grass01_body03.png</key>
      <dict>
        <key>frame</key>
        <string>{{1979,210},{27,57}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{27,57}}</string>
        <key>sourceSize</key>
        <string>{27,57}</string>
      </dict>
      <key>grass01_body01.png</key>
      <dict>
        <key>frame</key>
        <string>{{1898,650},{59,60}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{59,60}}</string>
        <key>sourceSize</key>
        <string>{59,60}</string>
      </dict>
      <key>green_egg02.png</key>
      <dict>
        <key>frame</key>
        <string>{{1740,685},{115,120}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{115,120}}</string>
        <key>sourceSize</key>
        <string>{115,120}</string>
      </dict>
      <key>green_egg03.png</key>
      <dict>
        <key>frame</key>
        <string>{{530,742},{91,108}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{91,108}}</string>
        <key>sourceSize</key>
        <string>{91,108}</string>
      </dict>
      <key>green_egg04.png</key>
      <dict>
        <key>frame</key>
        <string>{{415,669},{113,123}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{113,123}}</string>
        <key>sourceSize</key>
        <string>{113,123}</string>
      </dict>
      <key>green_egg01.png</key>
      <dict>
        <key>frame</key>
        <string>{{1602,629},{136,145}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{136,145}}</string>
        <key>sourceSize</key>
        <string>{136,145}</string>
      </dict>
      <key>orange_egg02.png</key>
      <dict>
        <key>frame</key>
        <string>{{745,626},{133,142}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{133,142}}</string>
        <key>sourceSize</key>
        <string>{133,142}</string>
      </dict>
      <key>orange_egg03.png</key>
      <dict>
        <key>frame</key>
        <string>{{1857,712},{91,108}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{91,108}}</string>
        <key>sourceSize</key>
        <string>{91,108}</string>
      </dict>
      <key>orange_egg04.png</key>
      <dict>
        <key>frame</key>
        <string>{{1795,386},{144,150}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{144,150}}</string>
        <key>sourceSize</key>
        <string>{144,150}</string>
      </dict>
      <key>orange_egg01.png</key>
      <dict>
        <key>frame</key>
        <string>{{1174,631},{136,145}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{136,145}}</string>
        <key>sourceSize</key>
        <string>{136,145}</string>
      </dict>
      <key>toy_clown04.png</key>
      <dict>
        <key>frame</key>
        <string>{{1312,766},{121,57}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{121,57}}</string>
        <key>sourceSize</key>
        <string>{121,57}</string>
      </dict>
      <key>toy_clown01.png</key>
      <dict>
        <key>frame</key>
        <string>{{295,0},{290,269}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{290,269}}</string>
        <key>sourceSize</key>
        <string>{290,269}</string>
      </dict>
      <key>toy_clown05.png</key>
      <dict>
        <key>frame</key>
        <string>{{2003,282},{30,48}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{30,48}}</string>
        <key>sourceSize</key>
        <string>{30,48}</string>
      </dict>
      <key>toy_clown02.png</key>
      <dict>
        <key>frame</key>
        <string>{{2011,173},{30,54}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{30,54}}</string>
        <key>sourceSize</key>
        <string>{30,54}</string>
      </dict>
      <key>toy_clown03.png</key>
      <dict>
        <key>frame</key>
        <string>{{1610,776},{120,29}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{120,29}}</string>
        <key>sourceSize</key>
        <string>{120,29}</string>
      </dict>
      <key>purple_egg03.png</key>
      <dict>
        <key>frame</key>
        <string>{{120,700},{102,97}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{102,97}}</string>
        <key>sourceSize</key>
        <string>{102,97}</string>
      </dict>
      <key>purple_egg04.png</key>
      <dict>
        <key>frame</key>
        <string>{{1042,632},{113,123}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{113,123}}</string>
        <key>sourceSize</key>
        <string>{113,123}</string>
      </dict>
      <key>purple_egg05.png</key>
      <dict>
        <key>frame</key>
        <string>{{1751,538},{145,145}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{145,145}}</string>
        <key>sourceSize</key>
        <string>{145,145}</string>
      </dict>
      <key>purple_egg02.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,700},{118,116}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{118,116}}</string>
        <key>sourceSize</key>
        <string>{118,116}</string>
      </dict>
      <key>purple_egg01.png</key>
      <dict>
        <key>frame</key>
        <string>{{1464,629},{136,145}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{136,145}}</string>
        <key>sourceSize</key>
        <string>{136,145}</string>
      </dict>
      <key>tank_props_water18.png</key>
      <dict>
        <key>frame</key>
        <string>{{291,478},{280,189}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{280,189}}</string>
        <key>sourceSize</key>
        <string>{280,189}</string>
      </dict>
      <key>tank_props_water16.png</key>
      <dict>
        <key>frame</key>
        <string>{{892,220},{296,206}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{296,206}}</string>
        <key>sourceSize</key>
        <string>{296,206}</string>
      </dict>
      <key>tank_props_water14.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,305},{289,205}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{289,205}}</string>
        <key>sourceSize</key>
        <string>{289,205}</string>
      </dict>
      <key>tank_props_water12.png</key>
      <dict>
        <key>frame</key>
        <string>{{892,0},{302,218}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{302,218}}</string>
        <key>sourceSize</key>
        <string>{302,218}</string>
      </dict>
      <key>tank_props_water10.png</key>
      <dict>
        <key>frame</key>
        <string>{{1497,0},{297,214}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{297,214}}</string>
        <key>sourceSize</key>
        <string>{297,214}</string>
      </dict>
      <key>tank_props_water02.png</key>
      <dict>
        <key>frame</key>
        <string>{{1196,219},{295,208}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{295,208}}</string>
        <key>sourceSize</key>
        <string>{295,208}</string>
      </dict>
      <key>tank_props_water06.png</key>
      <dict>
        <key>frame</key>
        <string>{{882,428},{290,202}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{290,202}}</string>
        <key>sourceSize</key>
        <string>{290,202}</string>
      </dict>
      <key>tank_props_water04.png</key>
      <dict>
        <key>frame</key>
        <string>{{1464,429},{285,198}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{285,198}}</string>
        <key>sourceSize</key>
        <string>{285,198}</string>
      </dict>
      <key>tank_props_water01.png</key>
      <dict>
        <key>frame</key>
        <string>{{587,431},{283,193}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{283,193}}</string>
        <key>sourceSize</key>
        <string>{283,193}</string>
      </dict>
      <key>tank_props_water17.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,512},{279,186}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{279,186}}</string>
        <key>sourceSize</key>
        <string>{279,186}</string>
      </dict>
      <key>tank_props_water15.png</key>
      <dict>
        <key>frame</key>
        <string>{{295,271},{290,205}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{290,205}}</string>
        <key>sourceSize</key>
        <string>{290,205}</string>
      </dict>
      <key>tank_props_water13.png</key>
      <dict>
        <key>frame</key>
        <string>{{587,0},{303,221}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{303,221}}</string>
        <key>sourceSize</key>
        <string>{303,221}</string>
      </dict>
      <key>tank_props_water11.png</key>
      <dict>
        <key>frame</key>
        <string>{{1196,0},{299,217}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{299,217}}</string>
        <key>sourceSize</key>
        <string>{299,217}</string>
      </dict>
      <key>tank_props_water09.png</key>
      <dict>
        <key>frame</key>
        <string>{{1497,216},{296,211}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{296,211}}</string>
        <key>sourceSize</key>
        <string>{296,211}</string>
      </dict>
      <key>tank_props_water07.png</key>
      <dict>
        <key>frame</key>
        <string>{{587,223},{293,206}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{293,206}}</string>
        <key>sourceSize</key>
        <string>{293,206}</string>
      </dict>
      <key>tank_props_water05.png</key>
      <dict>
        <key>frame</key>
        <string>{{1174,429},{288,200}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{288,200}}</string>
        <key>sourceSize</key>
        <string>{288,200}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>tank_props.png</string>
      <key>textureFileName</key>
      <string>tank_props.png</string>
      <key>size</key>
      <string>{2048,1024}</string>
    </dict>
  </dict>
</plist>