<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>night_miaomiao_crown_big.png</key>
      <dict>
        <key>frame</key>
        <string>{{681,472},{235,88}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{235,88}}</string>
        <key>sourceSize</key>
        <string>{235,88}</string>
      </dict>
      <key>night_miaomiao_box_mirror_big.png</key>
      <dict>
        <key>frame</key>
        <string>{{1629,239},{51,116}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{51,116}}</string>
        <key>sourceSize</key>
        <string>{51,116}</string>
      </dict>
      <key>night_miaomiao_transparent_big.png</key>
      <dict>
        <key>frame</key>
        <string>{{2044,0},{0,0}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{0,0}}</string>
        <key>sourceSize</key>
        <string>{0,0}</string>
      </dict>
      <key>night_miaomiao_box_skirt02_big.png</key>
      <dict>
        <key>frame</key>
        <string>{{289,542},{73,40}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{73,40}}</string>
        <key>sourceSize</key>
        <string>{73,40}</string>
      </dict>
      <key>night_miaomiao_box_skirt01_big.png</key>
      <dict>
        <key>frame</key>
        <string>{{456,540},{77,50}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{77,50}}</string>
        <key>sourceSize</key>
        <string>{77,50}</string>
      </dict>
      <key>night_miaomiao_effect01.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,250},{282,198}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{282,198}}</string>
        <key>sourceSize</key>
        <string>{282,198}</string>
      </dict>
      <key>night_miaomiao_effect02.png</key>
      <dict>
        <key>frame</key>
        <string>{{378,249},{301,223}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{301,223}}</string>
        <key>sourceSize</key>
        <string>{301,223}</string>
      </dict>
      <key>night_miaomiao_effect03.png</key>
      <dict>
        <key>frame</key>
        <string>{{1686,237},{312,220}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{312,220}}</string>
        <key>sourceSize</key>
        <string>{312,220}</string>
      </dict>
      <key>night_miaomiao_effect04.png</key>
      <dict>
        <key>frame</key>
        <string>{{1315,239},{312,220}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{312,220}}</string>
        <key>sourceSize</key>
        <string>{312,220}</string>
      </dict>
      <key>night_miaomiao_effect05.png</key>
      <dict>
        <key>frame</key>
        <string>{{747,81},{311,230}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{311,230}}</string>
        <key>sourceSize</key>
        <string>{311,230}</string>
      </dict>
      <key>night_miaomiao_effect06.png</key>
      <dict>
        <key>frame</key>
        <string>{{1686,0},{338,235}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{338,235}}</string>
        <key>sourceSize</key>
        <string>{338,235}</string>
      </dict>
      <key>night_miaomiao_effect07.png</key>
      <dict>
        <key>frame</key>
        <string>{{378,0},{367,247}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{367,247}}</string>
        <key>sourceSize</key>
        <string>{367,247}</string>
      </dict>
      <key>night_miaomiao_effect08.png</key>
      <dict>
        <key>frame</key>
        <string>{{1327,0},{357,237}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{357,237}}</string>
        <key>sourceSize</key>
        <string>{357,237}</string>
      </dict>
      <key>night_miaomiao_effect_big.png</key>
      <dict>
        <key>frame</key>
        <string>{{1250,380},{59,30}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{59,30}}</string>
        <key>sourceSize</key>
        <string>{59,30}</string>
      </dict>
      <key>night_miaomiao_hand13_big.png</key>
      <dict>
        <key>frame</key>
        <string>{{377,474},{77,70}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{77,70}}</string>
        <key>sourceSize</key>
        <string>{77,70}</string>
      </dict>
      <key>night_miaomiao_hand14_big.png</key>
      <dict>
        <key>frame</key>
        <string>{{1128,487},{72,63}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{72,63}}</string>
        <key>sourceSize</key>
        <string>{72,63}</string>
      </dict>
      <key>night_miaomiao_mouth11_big.png</key>
      <dict>
        <key>frame</key>
        <string>{{1262,118},{31,30}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{31,30}}</string>
        <key>sourceSize</key>
        <string>{31,30}</string>
      </dict>
      <key>night_miaomiao_effect09.png</key>
      <dict>
        <key>frame</key>
        <string>{{1060,81},{200,214}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{200,214}}</string>
        <key>sourceSize</key>
        <string>{200,214}</string>
      </dict>
      <key>night_miaomiao_box_tears01_big.png</key>
      <dict>
        <key>frame</key>
        <string>{{1262,213},{51,165}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{51,165}}</string>
        <key>sourceSize</key>
        <string>{51,165}</string>
      </dict>
      <key>night_miaomiao_box_tears02_big.png</key>
      <dict>
        <key>frame</key>
        <string>{{222,456},{65,189}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{65,189}}</string>
        <key>sourceSize</key>
        <string>{65,189}</string>
      </dict>
      <key>night_miaomiao_box_tears03_big.png</key>
      <dict>
        <key>frame</key>
        <string>{{284,250},{70,204}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{70,204}}</string>
        <key>sourceSize</key>
        <string>{70,204}</string>
      </dict>
      <key>night_miaomiao_mouth10_big.png</key>
      <dict>
        <key>frame</key>
        <string>{{681,368},{49,23}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{49,23}}</string>
        <key>sourceSize</key>
        <string>{49,23}</string>
      </dict>
      <key>night_miaomiao_mouth09_big.png</key>
      <dict>
        <key>frame</key>
        <string>{{2026,0},{16,27}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{16,27}}</string>
        <key>sourceSize</key>
        <string>{16,27}</string>
      </dict>
      <key>night_miaomiao_box_star_big.png</key>
      <dict>
        <key>frame</key>
        <string>{{1629,357},{48,47}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{48,47}}</string>
        <key>sourceSize</key>
        <string>{48,47}</string>
      </dict>
      <key>night_miaomiao_water03_big.png</key>
      <dict>
        <key>frame</key>
        <string>{{747,27},{557,25}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{557,25}}</string>
        <key>sourceSize</key>
        <string>{557,25}</string>
      </dict>
      <key>night_miaomiao_box_star01_big.png</key>
      <dict>
        <key>frame</key>
        <string>{{289,456},{86,84}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{86,84}}</string>
        <key>sourceSize</key>
        <string>{86,84}</string>
      </dict>
      <key>night_miaomiao_hand02_big.png</key>
      <dict>
        <key>frame</key>
        <string>{{2000,237},{44,23}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{44,23}}</string>
        <key>sourceSize</key>
        <string>{44,23}</string>
      </dict>
      <key>night_miaomiao_bowknot_big.png</key>
      <dict>
        <key>frame</key>
        <string>{{536,474},{76,62}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{76,62}}</string>
        <key>sourceSize</key>
        <string>{76,62}</string>
      </dict>
      <key>night_miaomiao_eye07_big.png</key>
      <dict>
        <key>frame</key>
        <string>{{1288,197},{21,14}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{21,14}}</string>
        <key>sourceSize</key>
        <string>{21,14}</string>
      </dict>
      <key>night_miaomiao_smoke07_big.png</key>
      <dict>
        <key>frame</key>
        <string>{{2034,49},{6,29}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{6,29}}</string>
        <key>sourceSize</key>
        <string>{6,29}</string>
      </dict>
      <key>night_miaomiao_smoke05_big.png</key>
      <dict>
        <key>frame</key>
        <string>{{1306,27},{6,33}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{6,33}}</string>
        <key>sourceSize</key>
        <string>{6,33}</string>
      </dict>
      <key>night_miaomiao_smoke03_big.png</key>
      <dict>
        <key>frame</key>
        <string>{{2026,49},{6,30}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{6,30}}</string>
        <key>sourceSize</key>
        <string>{6,30}</string>
      </dict>
      <key>night_miaomiao_smoke01_big.png</key>
      <dict>
        <key>frame</key>
        <string>{{2034,80},{6,27}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{6,27}}</string>
        <key>sourceSize</key>
        <string>{6,27}</string>
      </dict>
      <key>night_miaomiao_smoke08_big.png</key>
      <dict>
        <key>frame</key>
        <string>{{1299,81},{5,27}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{5,27}}</string>
        <key>sourceSize</key>
        <string>{5,27}</string>
      </dict>
      <key>night_miaomiao_smoke06_big.png</key>
      <dict>
        <key>frame</key>
        <string>{{1306,62},{6,28}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{6,28}}</string>
        <key>sourceSize</key>
        <string>{6,28}</string>
      </dict>
      <key>night_miaomiao_smoke04_big.png</key>
      <dict>
        <key>frame</key>
        <string>{{1314,27},{5,33}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{5,33}}</string>
        <key>sourceSize</key>
        <string>{5,33}</string>
      </dict>
      <key>night_miaomiao_smoke02_big.png</key>
      <dict>
        <key>frame</key>
        <string>{{1314,62},{6,28}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{6,28}}</string>
        <key>sourceSize</key>
        <string>{6,28}</string>
      </dict>
      <key>night_miaomiao_smoke09_big.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,450},{220,157}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{220,157}}</string>
        <key>sourceSize</key>
        <string>{220,157}</string>
      </dict>
      <key>night_miaomiao_black01_big.png</key>
      <dict>
        <key>frame</key>
        <string>{{1919,459},{92,91}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{92,91}}</string>
        <key>sourceSize</key>
        <string>{92,91}</string>
      </dict>
      <key>night_miaomiao_head01_big.png</key>
      <dict>
        <key>frame</key>
        <string>{{733,313},{291,157}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{291,157}}</string>
        <key>sourceSize</key>
        <string>{291,157}</string>
      </dict>
      <key>night_miaomiao_head02_big.png</key>
      <dict>
        <key>frame</key>
        <string>{{1629,459},{288,153}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{288,153}}</string>
        <key>sourceSize</key>
        <string>{288,153}</string>
      </dict>
      <key>night_miaomiao_bowknot01_big.png</key>
      <dict>
        <key>frame</key>
        <string>{{1049,487},{77,60}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{77,60}}</string>
        <key>sourceSize</key>
        <string>{77,60}</string>
      </dict>
      <key>night_miaomiao_eye01_big.png</key>
      <dict>
        <key>frame</key>
        <string>{{2026,29},{19,18}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{19,18}}</string>
        <key>sourceSize</key>
        <string>{19,18}</string>
      </dict>
      <key>night_miaomiao_eye04_big.png</key>
      <dict>
        <key>frame</key>
        <string>{{1306,106},{16,10}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{16,10}}</string>
        <key>sourceSize</key>
        <string>{16,10}</string>
      </dict>
      <key>night_miaomiao_eye02_big.png</key>
      <dict>
        <key>frame</key>
        <string>{{1262,177},{24,22}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{24,22}}</string>
        <key>sourceSize</key>
        <string>{24,22}</string>
      </dict>
      <key>night_miaomiao_nose_big.png</key>
      <dict>
        <key>frame</key>
        <string>{{1306,92},{17,12}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{17,12}}</string>
        <key>sourceSize</key>
        <string>{17,12}</string>
      </dict>
      <key>night_miaomiao_mouth03_big.png</key>
      <dict>
        <key>frame</key>
        <string>{{681,309},{50,57}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{50,57}}</string>
        <key>sourceSize</key>
        <string>{50,57}</string>
      </dict>
      <key>night_miaomiao_mouth05_big.png</key>
      <dict>
        <key>frame</key>
        <string>{{1262,150},{24,25}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{24,25}}</string>
        <key>sourceSize</key>
        <string>{24,25}</string>
      </dict>
      <key>night_miaomiao_mouth01_big.png</key>
      <dict>
        <key>frame</key>
        <string>{{1288,183},{37,12}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{37,12}}</string>
        <key>sourceSize</key>
        <string>{37,12}</string>
      </dict>
      <key>night_miaomiao_mouth02_big.png</key>
      <dict>
        <key>frame</key>
        <string>{{1288,151},{37,30}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{37,30}}</string>
        <key>sourceSize</key>
        <string>{37,30}</string>
      </dict>
      <key>night_miaomiao_red01_big.png</key>
      <dict>
        <key>frame</key>
        <string>{{2026,109},{10,3}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{10,3}}</string>
        <key>sourceSize</key>
        <string>{10,3}</string>
      </dict>
      <key>night_miaomiao_red_big.png</key>
      <dict>
        <key>frame</key>
        <string>{{1262,201},{22,7}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{22,7}}</string>
        <key>sourceSize</key>
        <string>{22,7}</string>
      </dict>
      <key>night_miaomiao_eye03_big.png</key>
      <dict>
        <key>frame</key>
        <string>{{536,538},{70,63}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{70,63}}</string>
        <key>sourceSize</key>
        <string>{70,63}</string>
      </dict>
      <key>night_miaomiao_face_big.png</key>
      <dict>
        <key>frame</key>
        <string>{{1420,461},{178,153}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{178,153}}</string>
        <key>sourceSize</key>
        <string>{178,153}</string>
      </dict>
      <key>night_miaomiao_ear_big.png</key>
      <dict>
        <key>frame</key>
        <string>{{681,249},{56,58}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{56,58}}</string>
        <key>sourceSize</key>
        <string>{56,58}</string>
      </dict>
      <key>night_miaomiao_water01_big.png</key>
      <dict>
        <key>frame</key>
        <string>{{747,54},{557,25}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{557,25}}</string>
        <key>sourceSize</key>
        <string>{557,25}</string>
      </dict>
      <key>night_miaomiao_hand01_big.png</key>
      <dict>
        <key>frame</key>
        <string>{{1262,81},{35,35}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{35,35}}</string>
        <key>sourceSize</key>
        <string>{35,35}</string>
      </dict>
      <key>night_miaomiao_hand07_big.png</key>
      <dict>
        <key>frame</key>
        <string>{{1295,118},{26,31}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{26,31}}</string>
        <key>sourceSize</key>
        <string>{26,31}</string>
      </dict>
      <key>night_miaomiao_boat_big.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{376,248}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{376,248}}</string>
        <key>sourceSize</key>
        <string>{376,248}</string>
      </dict>
      <key>night_miaomiao_big_barrel.png</key>
      <dict>
        <key>frame</key>
        <string>{{918,472},{129,107}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{129,107}}</string>
        <key>sourceSize</key>
        <string>{129,107}</string>
      </dict>
      <key>night_miaomiao_body_big.png</key>
      <dict>
        <key>frame</key>
        <string>{{456,474},{78,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{78,64}}</string>
        <key>sourceSize</key>
        <string>{78,64}</string>
      </dict>
      <key>night_miaomiao_water02_big.png</key>
      <dict>
        <key>frame</key>
        <string>{{747,0},{578,25}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{578,25}}</string>
        <key>sourceSize</key>
        <string>{578,25}</string>
      </dict>
      <key>night_miaomiao_light01_big.png</key>
      <dict>
        <key>frame</key>
        <string>{{1250,461},{168,168}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{168,168}}</string>
        <key>sourceSize</key>
        <string>{168,168}</string>
      </dict>
      <key>night_miaomiao_light02_big.png</key>
      <dict>
        <key>frame</key>
        <string>{{1060,297},{188,188}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{188,188}}</string>
        <key>sourceSize</key>
        <string>{188,188}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>night_miaomiao_big.png</string>
      <key>textureFileName</key>
      <string>night_miaomiao_big.png</string>
      <key>size</key>
      <string>{2048,1024}</string>
    </dict>
  </dict>
</plist>