<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>wangwen.png</key>
      <dict>
        <key>frame</key>
        <string>{{375,210},{59,48}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{59,48}}</string>
        <key>sourceSize</key>
        <string>{59,48}</string>
      </dict>
      <key>hair.png</key>
      <dict>
        <key>frame</key>
        <string>{{413,264},{49,27}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{49,27}}</string>
        <key>sourceSize</key>
        <string>{49,27}</string>
      </dict>
      <key>fishing_qiqi_eye01.png</key>
      <dict>
        <key>frame</key>
        <string>{{338,240},{21,19}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{21,19}}</string>
        <key>sourceSize</key>
        <string>{21,19}</string>
      </dict>
      <key>fishing_qiqi_eye02.png</key>
      <dict>
        <key>frame</key>
        <string>{{484,210},{26,24}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{26,24}}</string>
        <key>sourceSize</key>
        <string>{26,24}</string>
      </dict>
      <key>fishing_qiqi_eye03.png</key>
      <dict>
        <key>frame</key>
        <string>{{197,206},{76,69}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{76,69}}</string>
        <key>sourceSize</key>
        <string>{76,69}</string>
      </dict>
      <key>fishing_qiqi_red01.png</key>
      <dict>
        <key>frame</key>
        <string>{{484,261},{24,8}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{24,8}}</string>
        <key>sourceSize</key>
        <string>{24,8}</string>
      </dict>
      <key>fishing_qiqi_nose01.png</key>
      <dict>
        <key>frame</key>
        <string>{{464,271},{41,23}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{41,23}}</string>
        <key>sourceSize</key>
        <string>{41,23}</string>
      </dict>
      <key>fishing_qiqi_mouth02.png</key>
      <dict>
        <key>frame</key>
        <string>{{484,236},{24,23}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{24,23}}</string>
        <key>sourceSize</key>
        <string>{24,23}</string>
      </dict>
      <key>leftshouzhang.png</key>
      <dict>
        <key>frame</key>
        <string>{{338,206},{35,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{35,32}}</string>
        <key>sourceSize</key>
        <string>{35,32}</string>
      </dict>
      <key>shuibo22.png</key>
      <dict>
        <key>frame</key>
        <string>{{382,171},{127,37}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{127,37}}</string>
        <key>sourceSize</key>
        <string>{127,37}</string>
      </dict>
      <key>shuibo11.png</key>
      <dict>
        <key>frame</key>
        <string>{{382,132},{127,37}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{127,37}}</string>
        <key>sourceSize</key>
        <string>{127,37}</string>
      </dict>
      <key>shuibo1.png</key>
      <dict>
        <key>frame</key>
        <string>{{382,91},{127,39}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{127,39}}</string>
        <key>sourceSize</key>
        <string>{127,39}</string>
      </dict>
      <key>yuwang01.png</key>
      <dict>
        <key>frame</key>
        <string>{{197,298},{255,103}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{255,103}}</string>
        <key>sourceSize</key>
        <string>{255,103}</string>
      </dict>
      <key>qiqitou.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,206},{195,166}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{195,166}}</string>
        <key>sourceSize</key>
        <string>{195,166}</string>
      </dict>
      <key>fishing_qiqi_ear01.png</key>
      <dict>
        <key>frame</key>
        <string>{{275,206},{61,63}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{61,63}}</string>
        <key>sourceSize</key>
        <string>{61,63}</string>
      </dict>
      <key>righthand.png</key>
      <dict>
        <key>frame</key>
        <string>{{436,210},{46,52}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{46,52}}</string>
        <key>sourceSize</key>
        <string>{46,52}</string>
      </dict>
      <key>lingjie.png</key>
      <dict>
        <key>frame</key>
        <string>{{275,271},{50,25}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{50,25}}</string>
        <key>sourceSize</key>
        <string>{50,25}</string>
      </dict>
      <key>bolihou111.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{380,204}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{380,204}}</string>
        <key>sourceSize</key>
        <string>{380,204}</string>
      </dict>
      <key>shenti.png</key>
      <dict>
        <key>frame</key>
        <string>{{382,0},{109,89}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{109,89}}</string>
        <key>sourceSize</key>
        <string>{109,89}</string>
      </dict>
      <key>lefthand.png</key>
      <dict>
        <key>frame</key>
        <string>{{361,260},{50,31}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{50,31}}</string>
        <key>sourceSize</key>
        <string>{50,31}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>loading_qiqi.png</string>
      <key>textureFileName</key>
      <string>loading_qiqi.png</string>
      <key>size</key>
      <string>{512,512}</string>
    </dict>
  </dict>
</plist>